@tailwind base;
@tailwind components;
@tailwind utilities;

#searchbar{
    width: 850px;             
}

  #root {
    padding: 15px;
  }


/* Home y filter */
.container-filtro{
    width: 234px;
    height: 600px;
    border: 2px solid rgba(103, 100, 101, 0.5);
    border-radius: 20px;
    text-align: center;
    background-color: #F4F4F4;
}

.titulo-filtro{
    font-size: 16px;
    font-family:'Ubuntu', sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 15px;
}


.btn-limpiar{
    background-color:#CECADC;
    width: 200px;
    height: 37px;
    border: 2px solid rgba(103, 100, 101, 0.5);
    border-radius:20px;
    font-weight: bold;
    margin: auto;
    


}

.no-bullets {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: -20px;
  }
  
  ul.no-bullets li a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: color 0.3s; /* Agrega una transición suave para el cambio de color */
  }
  
  ul.no-bullets li a:hover {
    color: purple; /* Cambia el color al pasar el ratón por encima a morado */
  }


  .ant-collapse-header-text{
    font-weight: bold;
    text-align: left;
  }

  /* Estilo para los elementos con clases personalizadas */
.custom-label {
    display: block; /* Cambiar a bloque para separar en líneas */
    margin-bottom: 10px; /* Separación de 10px entre etiquetas */
    text-align: left;
  }
  
  .custom-input {
    width: 150px; /* Ancho personalizado, ajusta según tus necesidades */
    margin-left: 14px;
    border: none; /* Eliminar el borde de los inputs */
    outline: none; /* Eliminar el contorno al hacer clic */
  }
  
  /* Estilo para mostrar "$RD" antes de hacer clic */
  .custom-input::before {
    content: "$RD"; /* Agregar el texto "$RD" antes del número */
    margin-right: 5px; /* Separación entre "$RD" y el número */
  }
  
  /* Deshabilitar la capacidad de desplazamiento con el ratón en los inputs */
  .custom-input::-webkit-inner-spin-button,
  .custom-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Eliminar botones de incremento y decremento */
  }


  /* Estilo para los elementos del grupo de checkboxes */
.checkbox-group {
    display: flex;
    flex-direction: column; /* Colocar los elementos uno debajo del otro */
  }
  
  .checkbox-group label {
    display: flex;
    align-items: center; /* Centrar verticalmente los elementos */
    margin-bottom: 10px; /* Separación de 10px entre etiquetas */
  }
  
  .checkbox-group input[type='checkbox'] {
    margin-left: 10px; /* Separación de 10px entre la etiqueta y el checkbox */
  }
  

  .btn-Apply{
    background-color:#54428E;
    
    width: 200px;
    height: 37px;
    border: 2px solid rgba(103, 100, 101, 0.5);
    border-radius:50px;
    font-weight: bold;
    margin: auto;
    color: white;
}

.contenedor-producto {
  display: inline-block; /* Cambia la visualización a en línea */
  text-align: center; /* Centra el contenido horizontalmente */
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 234px; /* Ancho del producto */
  height: 307px; /* Alto del producto */
  vertical-align: top; /* Alinea la parte superior de los productos */
}

/* Estilos para la imagen del producto */
.imagen-producto {
  width: 150px; /* Ajusta el ancho de la imagen según tus necesidades */
  height: 150; /* Para mantener la proporción de aspecto */
  margin: 0 auto 10px;
  margin-top: 20pxw; /* Centra la imagen horizontalmente y agrega espacio inferior */
}

/* Estilos para el título del producto */
.titulo {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0; /* Añade espacio vertical alrededor del título */
}

/* Estilos para la descripción del producto */
.descripcion {
  margin: 5px 0; /* Espacio vertical alrededor de la descripción */
  color: #555;
}

/* Estilos para el precio del producto */
.precio {
  font-size: 16px;
  font-weight: bold;
  color: #007bff; /* Cambia el color del precio según tus preferencias */
}



/* Register */

.registro-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 350px; /* Ancho del formulario */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.registro-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Alineación de las etiquetas a la izquierda */
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="tel"],
.form-group input[type="date"] {
  width: 100%; /* Ancho completo para los campos de entrada */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px; /* Espacio entre los campos */
}

.registro-button {
  background-color: #54428E;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.registro-button:hover {
  background-color: #0056b3;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.imagen-compania {
  max-width: 170px;
  max-height: 170px;
  margin: 0 auto; /* Centrar la imagen horizontalmente */
}



/* Login */

.login-button {
  background-color: #54428E; /* Cambia el color de fondo del botón */
  color: #fff; /* Cambia el color del texto a blanco */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  padding-bottom: 10px;
  text-align: center  ;
}

.login-button:hover {
  background-color: #0056b3;
}


.login-button:hover {
  background-color: #0056b3;
}

.form-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}




.image-container {
  padding-top: 30px;
  flex: 1; /* Toma el 50% del ancho */
  padding: 20px;
  padding-top: 60px;
}


.form-container {
  flex: 1; /* Toma el 50% del ancho */
  padding: 20px;
}

.form-container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group .icon {
  position: relative;
}

.form-group .icon i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}


.login-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 350px; /* Ancho del formulario */
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  }






























































































